input.form-control {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}


button.btn.btn-inverse.btn-lg.btn-login {
	font-size:5vmin;
}

.form-control {
	text-align: center;
}

.form {
	line-height: 10px;
}

.facebook {
	font-size: 2em;
	background-color: #3399FF;
	border-radius: 8px;
	color: white;
}
.disclaimer {
	font-size: 1em;
	color: gray;
}