
.header > p {
	font-size:4.5vmax;
}

.header {
	font-size: 2em;
	color: #85B4FF;
	padding-top: 23vmin;
}

.errorMessage {
	font-size: 1.5em;
	color: red;
}

.booty {
	background: white;
	border: 3px solid #03ACD4;
	width: 25vmax;
	height: auto;
	border-radius: 10px;
	font-size: 8vmax;
	text-align: center;
	margin-top: 30px;
	color: #03ACD4;
	padding-top: 25px;
	vertical-align: center;

}
.row {
	padding-top: 20vmin;
}

.clear {
	background-color: #85B4FF;
	color: white;
	font-size: 1.75em;
	
	border-radius: 8px;
}