body {
}

.butt {
	height: 75px;
	background-color: #85B4FF;
	width: 150px;
	color: white;
	font-size: 2.5em;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.header {
	font-size: 3em;
	color: #85B4FF;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

input {
	/*background-image: url('./../../assets/images/vending.jpg');*/
	background: white;
	background-position: -48px;
	border: 3px solid #85B4FF;
	width: 200px;
	height: 100px;
	border-radius: 10px;
	font-size: 1.5em;
	text-align: center;
	margin-top: 50px;
	color: #85B4FF;

}

.navbar {
	}
