<div class = "header">
	<p>
		Enter your machine code here to vote.
	</p>
	<input type="text" placeholder=". . . . ." class="form-control, booty" data-ng-model="machineId" maxlength="5"/>
</div>
<br>
<div class="errorMessage">
	{{errorMessage}}
</div>


<div>
	<a>
		<button class="butt" type="submit" ng-click="submitButton()">
			Go pray
		</button>
	</a>
</div>


<footer class="footer">
  <div class="container">
      <p><a> welcome to snck.co</a> | <a href="/contact">contact</a></p>
  </div>
</footer>
