<div class = "header">
	<p>
		Enter your machine code
	</p>
	<p>
		here to vote.
	</p>
	<input type="text" placeholder=". . . . ." class="form-control, booty" data-ng-model="machineId" maxlength="5"/>
</div>
<br>
<div class="errorMessage">
	{{errorMessage}}
</div>

<br>

<div>
	<a>
		<button class="button" type="submit" ng-click="submitButton()" style="height: 4vmax; vertical-align: middle; width: 30vmin; height: 15vmin; color: white; background-color: #3399FF; font-family:lobster; font-size:8vmin; border: 2px solid #3399FF; border-radius: 8px; padding-top:0px;">
			Go
		</button>
	</a>
</div>


<footer class="footer">
  <div class="container">
      <p><a> welcome to snck.co</a> | <a href="/contact">contact</a></p>
  </div>
</footer>
