html, body, ul, li {
  margin: 0;
  padding: 0; 
}

body {
  background: #FFFFFF;
  font: normal 16px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif; text-align: center;}

button, input, code {
  display: inline-block;
  outline: none;
  font: inherit;
  border: none;
  background: #FDE991;
  padding: 0; }

button {
  color: #C7433E;
  background-color: white;
  cursor: pointer; 
  height: 70px;
  margin-bottom: 5px;
  position: relative;
  vertical-align: bottom;
  }
input {
  width: 50px; }
.headerFont {
  font-size: 7vmin;
}
.properName {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#moreLike {
  color: #3399FF;
  font-size: 3em;
  font-family: lobster;
  font-weight: .5em;
  padding-top: 14vmax;
  padding-top: 20vmin;
  margin-bottom: 20px;
}

.comeBackSoon {
  margin: auto;
  margin-top: 25%;
  width: 70%;
  height: auto;
  font-size: 2em;
  line-height: 1.25em;
}

#viewport {
  height: 500px;

  max-width: 450px;

 /* background-image: url('./../../assets/images/vending.jpg');*/
  background-color: #EAE8E8;
  background-position: center;
  border: 10px solid #3399FF;
  border-radius: 10px;
  margin: 1000px auto 0;
  margin-top: .5em;
  overflow: hidden;
  position: relative; }
 
  #viewport .stack {
 
    position: absolute;
    top: 0px;
    left: -35px;
    margin-left: -100px;
    border-radius: 10px;
    width: 104%;
    height: 99%;

    }


  .texticle {
    position: absolute;
    color: #85B4FF;
    font-family: lobster;
    width: 100%;
    margin-left: -50%;
    margin-top: 10%;
    line-height: 1em;
  }

  
  .glyphicon-chevron-left {
    color: #FF6262;
    font-size: 2.5em;
    vertical-align: middle;
  }

  .glyphicon-chevron-right {
    color: #5CDE5C;
    font-size: 2.5em;
    vertical-align: middle;
  }

  .glyphicon-info-sign {
    color: #85B4FF;
    font-size: 2em;
    vertical-align: middle;
  }

  .glyphicon-ok-sign {
    color: #85B4FF;
    margin-right: -60%;
    font-size: 1.5em;
    vertical-align: top;
    margin-top: 1em;
  }

  #viewport .card {
    width: 90%;
    height: 90%;
    border-radius: 8px;
    position: absolute;
    left:150px;
    border-radius: 10px;
    cursor: default; 
    font-size: 1.5em;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    transform-origin: right center;
  }


#viewport .stack {
  -webkit-perspective: 800;
}

#viewport .stack .card.flipped {
  -webkit-transform: translateX(-100%) rotateY(-180deg);
}
#viewport .stack .card {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;

}


#viewport .stack .card .face {

  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: lobster;
    font-size: 1.5em;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;
    border: 2px solid gray;
    overflow: hidden;
}
#viewport .stack .card .front {
  position: absolute;
  z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: white;
}
#viewport .stack .card .back {
  -webkit-transform: rotateY(-180deg);
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    line-height:1.5em;
    font-size: 2em;
    padding-top: -20px;
}
