<div  ng-app="snckcoApp" ng-controller="Card-stackCtrl">
    <div class="entirety">
        <div id="moreLike">
       
        <strong>I want sncks like . . . 
        
    

    </div>

    <div id="viewport">

        <div class="comeBackSoon">
            That's it for now. Check back soon for more sncks!
        </div>

        <ul class="stack" swing-stack>
            <li class="card" 
                    swing-card
                    swing-on-throwout="throwout(eventName, eventObject); remove(cards,$index)"

                    swing-on-throwoutleft="throwoutleft(eventName, eventObject)"
                    swing-on-throwoutright="throwoutright(eventName, eventObject)"
                    swing-on-throwin="throwin(eventName, eventObject)"
                    swing-on-dragstart="dragstart(eventName, eventObject)"
                    swing-on-dragmove="dragmove(eventName, eventObject, $scope)"
                    swing-on-dragend="dragend(eventName, eventObject);"
                    ng-repeat="card in cards track by $index" ng-class="{'flipped':isFlipped}" >
                        
                    <!--ng-repeat="card in cards filter: {price: '$0.50'} track by $index" ng-class="{'flipped':isFlipped}"-->
                        <div class="face front">
                            <p class="card" swing-stack>
                            <button ng-click="isFlipped=!isFlipped"><span class="glyphicon glyphicon-info-sign"></span></button>
                            </p>
                                <img ng-src="./../../assets/images/{{card.name}}.jpg" class="img-responsive" width="350" height="300"></img>
                                <div class="properName" style="line-height: 1em;">{{card.proper}}</div>
                                <span class="texticle" style="margin-top:9em;">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span>swipe</span>
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </span>                                
                                <div class="locallyMade" ng-show="card.local == 'True'"> 
                                    <img ng-src="./../../assets/images/kcMade2.jpg" width="100" height ="100" style="margin-left: .2em"></img>
                                </div>
                            
                        </div>

                        <div class="face back">
                                <div>
                            <button ng-click="isFlipped=!isFlipped"><span class="glyphicon glyphicon-ok-sign"></span></button>
                        </div>
                            <p>{{card.price}}</p>
                            <p>{{card.description}}</p>
                            
                        </div>
          
            </li>

        </ul>
    </div> 
</div>


<footer class="footer">
  <div class="container">
      <p><a> welcome to snck.co</a> | <a href="/contact">contact</a></p>
  </div>
</footer>
