<div  ng-app="snckcoApp" ng-controller="Card-stackCtrl">
    <div class="entirety">
        <div id="moreLike">
       
        <strong style="line-height:1em;"><span class="headerFont">I want sncks like . . . </span>
        
    

    </div>

    <div id="viewport">

        <div class="comeBackSoon">
            That's it for now. Check back soon for more sncks!
        </div>

        <ul class="stack" swing-stack>
            <li class="card" 
                    swing-card
                    swing-on-throwout="throwout(eventName, eventObject, $index); remove(cards,$index)"
                    swing-on-throwoutleft="throwoutleft(eventName, eventObject)"
                    swing-on-throwoutright="throwoutright(eventName, eventObject)"
                    swing-on-throwin="throwin(eventName, eventObject)"
                    ng-repeat="card in cards track by $index" ng-class="{'flipped':isFlipped}" >

                        <div class="face front">
                            <p class="card" swing-stack></p>
                                <img ng-src="./../../assets/images/{{card.name}}.jpg" class="img-responsive" style="max-height:250px;max-width:250px;"></img>
                                <div class="properName" style="line-height: 1em;">
                                    {{card.proper}}
                                </div>

                                <div class="locallyMade" style="position:absolute;margin-top:-70%;margin-left:-20%;">
                                    <span ng-show="card.local == 'True'"> 
                                        <img ng-src="./../../assets/images/kcMade2.jpg" class="img-responsive" style="height: 50%; width: 50%;border-radius:150px; "></img>
                                    </span>
                                    <span ng-show="card.local == 'False'">
                                    </span>
                                </div>
                                    
                                <div class="swipey">
                                    <span class="texticle">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                            <span>swipe</span>
                                        <span class="glyphicon glyphicon-chevron-right" ng-click="throwout(null, {throwDirection: 1}, $index)"></span>
                                    </span>   
                                </div>
                                    
                                <div ng-click="isFlipped=!isFlipped" style="position:absolute; margin-top:-65%; margin-left: 80%;">
                                    <span class="glyphicon glyphicon-info-sign" style="font-size:1.75em;"></span>
                                </div>
                                
                            
                        </div>

                    <div class="face back">
                            <div ng-click="isFlipped=!isFlipped" style="margin-right:0%;">
                                <span class="glyphicon glyphicon-ok-sign"></span>
                            </div>
                        <div style="margin-top: 20%;">
                            <p>{{card.price}}</p>
                            <p>{{card.description}}</p>
                        </div>
                    </div>
          
            </li>

        </ul>
    </div> 
</div>


<footer class="footer">
  <div class="container">
      <p> welcome to snck.co | <a href="/contact">contact</a></p>
  </div>
</footer>
