p {
	color: #3399FF;
}

.header {
	font-size: 3em;
	color: #85B4FF;
	line-height: 50px;
}

.greeting {
	padding-top: 175px;
	font-size: 4em;
	font-family: lobster;
	color: #3399FF;
	margin-bottom: 40px;
}

.main {
	font-size: 2em;
}

.list{
	font-size: 1em;
}

.chosen {
	border: 4px solid green;
}

li{
list-style-type: none;
}

.p {
	font-size: 2em;
}

.emailsss {
	font-size: 2em;
}

.classsy {
	font-size: 1.25em;
	width:450px;
	margin:auto;
	text-align: center;
	position: relative;
	-webkit-perspective:800;
}

.cardFlip {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  z-index: -1;
	margin: 5px;
	float:left;
	border: 2px solid #85B4FF;
	border-radius: 5px;
	height:250px;
	width: 200px;
	transform-origin: right center;
}
.cardFlip.flipped {
  -webkit-transform: translateX(-100%) rotateY(180deg);
}

.cardFlip .face {
  -webkit-backface-visibility:hidden;

}

.cardFlip .front > button {
	margin-top: 0em;
	margin-left:-2em;
	height:50px;
}

.cardflip > figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;

}

.cardFlip .back {
	border: 2px solid #85B4FF;
  -webkit-transform: rotateY(180deg);
  border-radius: 5px;
  background-color: white;
}
.cardFlip .front {
	background-color: white;
}
.cardFlip > figure > p {
	width: 80%;
	margin:auto;
}
.cardFlip figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.cardFlip >figure >img {
	height:100px;
	width: 100px;
}


.killing {
	font-size: 3em;
	font-family: lobster;
	color: #3399FF;
}

.mymachines {
	line-height: 30px;
}

.machineInfo {
	font-size: 2em;
	font-weight: 100;
}

.glyphicon{
	font-size: 1.3em;
	vertical-align: text-bottom;
}

.fancyPrint{
	font-family: lobster;
}