p {
	color: #3399FF;
}

.p {
	/*color:#E65C5C;*/
	color:white;
	background-color: #85B4FF;
	border: 1px solid white;
	border-radius: 5px;
	width: 90%;
}

.header {
	font-size: 3em;
	color: #85B4FF;
}

.greeting {
	padding-top: 14vmax;
	padding-top: 25vmin;
	font-size: 6vmax;
	font-family: lobster;
	color: #3399FF;
}

.main {
	font-size: 2em;
}

.list{
	font-size: 1em;
}

.smallButton {
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	border:1px solid red;
}

.medButton {
	color:black;
	height:2em;
	width: 4em;
	border-radius: 5px;
	margin-top: 10px;
	border: 1px solid black;
}

.chosen {
	border: 4px solid #70D06A;
}

li{
list-style-type: none;
}

.p {
	font-size: 2em;
}

.emailsss {
	font-size: 4vmax;
	font-family:lobster;
}

.classsy {
	font-size: 1.25em;
	width:450px;
	margin:auto;
	text-align: center;
	position: relative;
	-webkit-perspective:800;
}

.cardFlip {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  z-index: -1;
	margin: 5px;
	float:left;
	border: 2px solid #85B4FF;
	border-radius: 5px;
	height:250px;
	width: 200px;
	/*height:8vmax;
	height:40vmin;
	width: 15vmax;
	width: 30vmin;*/
	transform-origin: right center;
}
.cardFlip.flipped {
  -webkit-transform: translateX(-100%) rotateY(180deg);
}

.cardFlip .face {
  -webkit-backface-visibility:hidden;

}

.cardFlip .face .front {
	position: relative;
	background-color: white;
}

.cardFlip .front > button {
	margin-bottom: 0;
	margin-left:-2em;
	height:50px;
}

.cardFlip .front > button.smallButton{
	position: absolute;
		vertical-align: bottom;
		margin-top: 10%;
		width: 40%;
		height:15%;
}

.cardflip > figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;

}

.cardFlip .back {
  -webkit-transform: rotateY(180deg);
  background-color: white;
}

.cardFlip > figure > p {
	width: 80%;
	margin:auto;
	height:32%;
}
.cardFlip figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size:2.5vmax;
  font-size:3vmin;
}

.cardFlip >figure >img {
	height:100px;
	width: 100px;
}


.killing {
	font-size: 3em;
	font-family: lobster;
	color: #3399FF;
}

.mymachines {
}

.machineInfo {
	font-size: 5vmax;
	font-size: 7vmin;
	font-weight: 100;
}

.glyphicon{
	font-size: 1.3em;
	vertical-align: text-bottom;
}

.fancyPrint{
	font-family: lobster;
}