<div class="widthtest" ng-controller="MyAccountCtrl">	

		<div class="greeting">
			<p>
				Hey {{ getCurrentUser().name }}. 
			</p>
		</div>

			<div class="votes" style="">
				<button class="p" style="font-size:7vmin;" ng-click="snckButton()">
					Snck of the Week
				</button>

				<div class="classsy" ng-show="!votes">

					<div class="cardFlip" ng-class="{'flipped':isFlipped}" ng-show="!submitted">
						<figure class="face front" ng-class="{'chosen':chooseOne}">
							<button ng-click="isFlipped=!isFlipped"><span class="glyphicon glyphicon-info-sign" style="font-size:1.75em;"></span></button>
							<img ng-src="./../../assets/images/milkOreo.jpg">
							<p> Annedore's Milk Chocolate Oreo </p>
							<button class="smallButton" ng-click="selectOne()">choose</button>
						</figure>
					
						<figure class="face back">
							<div ng-click="isFlipped=!isFlipped" style="margin-right:0%;">
                                <span class="glyphicon glyphicon-ok-sign"></span>
                            </div>
                            <p>Delicious milk chocolate covered oreo</p>
							<p>Made in KC!</p>
							<p>$1.50</p>
						</figure>
					</div>

					<div class="cardFlip" ng-class="{'flipped':isFlippy}" ng-show="!submitted">
						<figure class="face front" ng-class="{'chosen':chooseTwo}">
							<button ng-click="isFlippy=!isFlippy"><span class="glyphicon glyphicon-info-sign" style="font-size:1.75em;"></span></button>
							<img ng-src="./../../assets/images/banana.jpg">
							<p> Banana </p>
							<button class="smallButton" ng-click="selectTwo()">choose</button>
						</figure>
					
						<figure class="face back">
							<div ng-click="isFlippy=!isFlippy" style="margin-right:0%;">
                                <span class="glyphicon glyphicon-ok-sign"></span>
                            </div>
                            <br>
							<p>Is that a banana in your pocket or . . .</p>
							<p> $0.50 </p>
						</figure>
					</div>
					<div class="cardFlip" ng-class="{'flipped':isFlippo}" ng-show="!submitted">
						<figure class="face front" ng-class="{'chosen':chooseThree}">
							<button ng-click="isFlippo=!isFlippo"><span class="glyphicon glyphicon-info-sign" style="font-size:1.75em;"></span></button>
							<img ng-src="./../../assets/images/babyBottleBerry.jpg">
							<p> Baby Bottle Pop: Blue Raspberry</p>
							<button class="smallButton" ng-click="selectThree()">choose</button>
						</figure>
					
						<figure class="face back">
							<div ng-click="isFlippo=!isFlippo" style="margin-right:0%;">
                                <span class="glyphicon glyphicon-ok-sign"></span>
                            </div>
							<p>Healthy nutrition for babies since 1998.</p>
							<p>$1.50</p>
						</figure>
					</div>
					<div class="cardFlip" ng-class="{'flipped':isFlippen}" ng-show="!submitted">
						<figure class="face front" ng-class="{'chosen':chooseFour}">
							<button ng-click="isFlippen=!isFlippen"><span class="glyphicon glyphicon-info-sign" style="font-size:1.75em;"></span></button>
							<img ng-src="./../../assets/images/hungryMonkeyBad.jpg">
							<p> Hungry Monkey Party Bites, Bad Boys </p>
							<button class="smallButton" ng-click="selectFour()">choose</button>
						</figure>
					
						<figure class="face back">
							<div ng-click="isFlippen=!isFlippen" style="margin-right:0%;">
                                <span class="glyphicon glyphicon-ok-sign"></span>
                            </div>
                            <p>
							Quart of delicious garlic, onion and poppin' corn</p>
							<p> Made in KC!</p>
							<p>$2.25</p>
						</figure>
					</div>
					<div ng-show="!submitted" ng-hide="itemChosen"><button ng-click="submitSnck()" class="medButton">submit</button></div>
					<div ng-show="submitted">
						<p> Annedore's Milk Chocolate Oreo: {{valueSotwOne}} </p>
						<p> Banana: {{valueSotwTwo}} </p>
						<p> Baby Bottle Pop:Blue Raspberry: {{valueSotwThree}} </p>
						<p> Hungry Monkey Party Bites, Bad Boys: {{valueSotwFour}} </p>
						<br>
						<h2>
						Check back next week for new sncks!
						</h2>
					</div>
				</div>
			</div>
			<div class="mymachines" style="width:100%;margin-left:auto;margin-right:auto;">	
				<button class="p" style="font-size:7vmin;" ng-click="myMachines()">
					My Machines
				</button>
				<div class="machineInfo">
					<div ng-show="!hello">
						<p>
							<li class="list" ng-repeat="machines in getCurrentUser().machineIds track by $index" style="color:black;">
							 {{machines}} 		<br>
							<a href="/card-stack">
							<span class="fancyPrint">go to votes </span><span class="glyphicon glyphicon-circle-arrow-right"></span></a></li>
							<br>
							<a href="/">
							<span class="glyphicon glyphicon-plus-sign"></span> <span class="fancyPrint">add a machine</span></a>
						</p>
					</div>
				</div>
			</div>

			<div class="account" style="margin-left:auto;margin-right:auto;">
				<button class="p" style="font-size:7vmin;" ng-click="account = !account;">
					My Account
				</button>

				<div class="emailsss" ng-show="!account">
					<p>
						email: {{ getCurrentEmail().email }}
					</p>
				</div>
			</div>
			<div class="feedback">
				<button class="p" style="font-size:7vmin;" ng-click="feedback = !feedback;">
					Tell Us What You Want
				</button>

				<div ng-show="!feedback">
					<form>
						<div ng-hide"inputValue" class="ng-hide">
						</div>
						<div ng-hide="inputValue">
							<p style="color:#3399FF; font-size: 4vmax; margin-left:auto; margin-right:auto; line-height: 1em;"> Feedback makes us better at what we do.<br> <span style="font-size:.7em;">Leave any here along with snck requests or professions of love.</span></p>
							<br>
							<input type="text" class="form-control" data-ng-model="comment" style="width: 80%; margin-left: auto; margin-right: auto; text-align:center;">
							<br>
							<input type="submit" class="clear" value="submit" ng-click="savedata(); comment=''" style="width: 100px; height: 50px;">
						</div>
						<br>
							<div ng-hide"myValue" class="ng-hide"></div>
							<div ng-hide="myValue" class="killing">{{thankYous[0]}}</div>
						
					</form>
				</div>
			</div>







</div>


<footer class="footer">
  <div class="container">
      <p><a> welcome to snck.co</a> | <a href="/contact">contact</a></p>
  </div>
</footer>
