<div class="widthtest" ng-controller="MyAccountCtrl">	

		<div class="greeting">
			<h2 style="margin-bottom:10px;" ng-hide="!votes || !feedback || !account || !hello">
				Hey {{ getCurrentUser().name }}. 
			</h2>
		</div>

			<div class="votes" ng-hide="!account || !feedback || !hello">
					<button class="p" ng-class="{'menuItemChosen':menuItemBackground}"style="font-size:7vmin;" ng-click="snckButton()">
						Snck of the Week
					</button>

				<div class="classsy" style="margin-left:auto;margin-right:auto;"ng-show="!votes">


					<div class="cardFlip" ng-class="{'flipped':isFlipped}" ng-show="!submitted">
						<figure class="face front" ng-class="{'chosen':chooseOne}">
							<img ng-src="./../../assets/images/madeInKc.jpg" class="img-responsive" style="top:-1vmin;left:-1vmin;position:absolute;max-width:35%;max-height:35%;"></img>
							<img ng-src="./../../assets/images/milkOreo.svg" xmlns="http://www.w3.org/2000/svg" version="1.1">
							<button ng-click="isFlipped=!isFlipped" style="right:-30%;"><span class="glyphicon glyphicon-info-sign" style="height:15%;"></span></button>
							<p class="frontName"> Annedore's Milk Chocolate Oreo </p>
							<button class="smallButton" ng-click="selectOne()">choose</button>
						</figure>
					
						<figure class="face back">
							<div ng-click="isFlipped=!isFlipped" style="padding-top:10%;">
                                <span class="glyphicon glyphicon-ok-sign"></span>
                            </div>
                            <p>Delicious milk chocolate covered oreo</p>
							<p>$1.50</p>
						</figure>
					</div>

					<div class="cardFlip" ng-class="{'flipped':isFlippy}" ng-show="!submitted">
						<figure class="face front" ng-class="{'chosen':chooseTwo}">
							<img ng-src="./../../assets/images/banana.svg">
							<button ng-click="isFlippy=!isFlippy" style="right:-30%;"><span class="glyphicon glyphicon-info-sign" style="height:15%;"></span></button>
							<p> Banana </p>
							<button class="smallButton" ng-click="selectTwo()">choose</button>
						</figure>
					
						<figure class="face back">
							<div ng-click="isFlippy=!isFlippy" style="padding-top:10%;">
                                <span class="glyphicon glyphicon-ok-sign"></span>
                            </div>
                            <br>
							<p>Is that a banana in your pocket or . . .</p>
							<p> $0.50 </p>
						</figure>
					</div>

					<div class="cardFlip" ng-class="{'flipped':isFlippo}" ng-show="!submitted">
						<figure class="face front" ng-class="{'chosen':chooseThree}">
							<img ng-src="./../../assets/images/babyBottleBerry.svg">
							<button ng-click="isFlippo=!isFlippo" style="right:-30%;"><span class="glyphicon glyphicon-info-sign" style="height:15%;"></span></button>
							<p> Baby Bottle Pop: Blue Raspberry</p>
							<button class="smallButton" ng-click="selectThree()">choose</button>
						</figure>
					
						<figure class="face back">
							<div ng-click="isFlippo=!isFlippo" style="padding-top:10%;">
                                <span class="glyphicon glyphicon-ok-sign"></span>
                            </div>
							<p>Healthy nutrition for babies since 1998.</p>
							<p>$1.50</p>
						</figure>
					</div>
					<div class="cardFlip" ng-class="{'flipped':isFlippen}" ng-show="!submitted">
						<figure class="face front" ng-class="{'chosen':chooseFour}">
							<img ng-src="./../../assets/images/madeInKc.jpg" class="img-responsive" style="top:-1vmin;left:-1vmin;position:absolute;max-width:35%;max-height:35%;border:0px solid white;"></img>
							<img ng-src="./../../assets/images/hungryMonkeyBad.svg">
							<button ng-click="isFlippen=!isFlippen" style="right:-30%;"><span class="glyphicon glyphicon-info-sign" style="height:15%;"></span></button>
							<p> Hungry Monkey Party Bites, Bad Boys </p>
							<button class="smallButton" ng-click="selectFour()">choose</button>
						</figure>
					
						<figure class="face back">
							<div ng-click="isFlippen=!isFlippen" style="padding-top:10%;">
                                <span class="glyphicon glyphicon-ok-sign"></span>
                            </div>
                            <p>
							Quart of delicious garlic, onion and poppin' corn</p>
							<p>$2.25</p>
						</figure>
					</div>
					<div ng-show="!submitted" ng-hide="itemChosen"><button ng-click="submitSnck()" class="medButton">submit</button></div>
					<div ng-show="submitted">
						<p> Annedore's Milk Chocolate Oreo: {{valueSotwOne}} </p>
						<p> Banana: {{valueSotwTwo}} </p>
						<p> Baby Bottle Pop:Blue Raspberry: {{valueSotwThree}} </p>
						<p> Hungry Monkey Party Bites, Bad Boys: {{valueSotwFour}} </p>
						<br>
						<h2>
						Check back next week for new sncks!
						</h2>
					</div>
				</div>
			</div>
			<div class="mymachines" style="width:100%;margin-left:auto;margin-right:auto;" ng-hide="!votes || !account || !feedback">
				<button class="p" ng-class="{'menuItemChosen':menuItemBackground}" style="font-size:7vmin;" ng-click="myMachines()">
					My Machines
				</button>
				<div class="machineInfo">
					<div ng-show="!hello" style="line-height:1em;">
						<p>
							<li class="list" ng-repeat="machines in getCurrentUser().machineIds track by $index" style="color:black;">
							 {{machines}} 		<br>
							<a href="/card-stack">
							<span class="fancyPrint">go to votes </span><span class="glyphicon glyphicon-circle-arrow-right"></span></a></li>
							<br>
							<a href="/">
							<span class="glyphicon glyphicon-plus-sign"></span> <span class="fancyPrint">add a machine</span></a>
						</p>
					</div>
				</div>
			</div>

			<div class="account" style="margin-left:auto;margin-right:auto;" ng-hide="!votes || !feedback || !hello">
				<button class="p" ng-class="{'menuItemChosen':menuItemBackground}" style="font-size:7vmin;" ng-click="myAccountBackground();">
					My Account
				</button>

				<div class="emailsss" ng-show="!account">
					<p>
						email: {{ getCurrentEmail().email }}
					</p>
				</div>
			</div>
			<div class="feedback" ng-hide="!votes || !account || !hello">
				<button class="p" ng-class="{'menuItemChosen':menuItemBackground}" style="font-size:7vmin;" ng-click="feedbackBackground();">
					Tell Us What You Want
				</button>

				<div ng-show="!feedback">
					<form>
						<div ng-hide"inputValue" class="ng-hide">
						</div>
						<div ng-hide="inputValue">
							<p style="color:#3399FF; font-size: 4vmax; margin-left:auto; margin-right:auto; line-height: 1em;width:80%;"> Feedback makes us better at what we do.<br> <span style="font-size:.7em;">Leave any here along with snck requests or professions of love.</span></p>
							<br>
							<input type="text" class="form-control" data-ng-model="comment" style="width: 80%; margin-left: auto; margin-right: auto; text-align:center;">
							<br>
							<input type="submit" class="clear" value="submit" ng-click="savedata(); comment=''" style="width: 100px; height: 50px;">
						</div>
						<br>
							<div ng-hide"myValue" class="ng-hide"></div>
							<div ng-hide="myValue" class="killing">{{thankYous[0]}}</div>
						
					</form>
				</div>
			</div>







</div>


<footer class="footer">
  <div class="container">
      <p><a> welcome to snck.co</a> | <a href="/contact">contact</a></p>
  </div>
</footer>
