p {
	color: #3399FF;
}

.header {
	font-size: 3em;
	color: #85B4FF;
	line-height: 50px;
}

.greeting {
	padding-top: 175px;
	font-size: 4em;
	font-family: lobster;
	color: #3399FF;
	margin-bottom: 40px;
}

.main {
	font-size: 2em;
}

.list{
	font-size: 1em;
}

li{
list-style-type: none;
}

.p {
	font-size: 2em;
}

.emailsss {
	font-size: 2em;
}

.classsy {
	font-size: 2em;
}

.killing {
	font-size: 3em;
	font-family: lobster;
	color: #3399FF;
}

.mymachines {
	line-height: 30px;
}

.machineInfo {
	font-size: 2em;
	font-weight: 100;
}

.glyphicon{
	font-size: 1.3em;
	vertical-align: text-bottom;
}

.fancyPrint{
	font-family: lobster;
}