<div class="container">
  <div class="row">
    <div class="dump">
      <h1 style="color:#3399FF; font-family: lobster; font-size: 6vmax;">Sign up</h1>
        <!--a href="/auth/local/auth/facebook" target="_self" class="facebook btn" style="border: 0px; height: auto; width: auto; font-size: 2em; font-family: lobster;">with Facebook</a--> 
        <p class="disclaimer" style="font-size: 1.25vmax;">Facebook and Twitter login coming soon.</p>
      <p style="font-size: 2.5vmax; margin-left:auto; margin-right:auto;">Create an account now and choose your sncks <span style="font-style:italic;">forever.</span></p>
    </div>
    <div class="col-sm-12">

      <form class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>
          <div>
            <input type="checkbox" ng-checked="booyah" ng-click="noEmails()"><p>Hey this seems pretty neat, I'd like to hear about the latest features and newest sncks. </p>
          </div>
          <div>
            <input type="checkbox" ng-checked="booyahOne" ng-click="yesEmails()"><p>Don't even think about sending me an e-mail.</p>
          </div>
          <br>
          <div class="emailOption" style="color:red;" ng-hide="!emailCommunicate">
            Please choose an email option.
          </div>
        <br>
        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit" style="height: 4vmax; vertical-align: middle; width: auto; color: white; background-color: #3399FF; font-family:lobster; font-size:5vmin; border: 2px solid #3399FF; border-radius: 8px; padding-top:0px;">
            Create Account
          </button>

        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
<footer class="footer">
  <div class="container">
      <p><a> welcome to snck.co</a> | <a href="/contact">contact</a></p>
  </div>
</footer>